 @media only screen and (max-width: 680px) {
      .fs-100 {
           font-size: 48px !important;
      }
      
      .fs-50 {
           font-size: 32px !important;
      }

      .home {
           height: auto !important;
      }

      .home-item {
           margin-top: 300px !important;
      }
      
      .portfolio-item {
           margin-bottom: 32px;
      }
      
      .skill-item {
           margin-bottom: 32px;
      }

      footer .row div {
           text-align: center !important;
      }
      
      .contact-item img {
           margin-left: 5px !important;
           margin-right: 5px !important;
      }

      .nav-item {
           margin-left: 0 !important;
      }
 }